body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

.auth-body {
    background: linear-gradient(135deg, #141e30, #243b55);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    border: none;
    background: #243b55;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: #141e30;
}

.dashboard {
    padding: 40px;
    background: #f4f6f9;
    min-height: 100vh;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

textarea, input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.logout {
    float: right;
    background: crimson;
}